.Lottery {
  border: 2px solid black;
  text-align: center;
  margin: 1em auto auto;
  border-radius: 0.5em;
}

.Lottery button {
  margin: 2em;
  border: none;
  background-color: tomato;
  padding: 14px 16px;
  font-size: 16px;
  border-radius: 10px;
  color: white;
}
